<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="post">
      Name: <input type="text" name="name">
      Quote: <textarea name="quote"></textarea>
      <input type="submit" value="Add Quote!">
    </form>
    <a href="/quotes">Quote Page</a>
  </body>
</html>
